<!DOCTYPE pam_mount SYSTEM "pam_mount.conf.xml.dtd">
 
<pam_mount>
 
<volume
  fstype="cifs"
  server="file.canterbury.ac.nz"
  path="Users{{ item[0] }}\$/{{ item }}/Home"
  mountpoint="~/Pdrive"
  options="user=%(USER),domain=uocnt,sec=krb5,cruid=%(USERUID),multiuser,vers=3.0"
/>
 
 
 
 
</pam_mount>
